spring:
  flyway:
    enabled: false

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
      - org.springframework.boot.autoconfigure.kafka.KafkaReactiveAutoConfiguration

  kafka:
    bootstrap-servers: dummy:9092
    consumer:
      auto-offset-reset: earliest
    listener:
      missing-topics-fatal: false
      auto-startup: false
    producer:
      properties:
        retries: 0
